/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
  
  }
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  header *{
    color: rgb(54, 217, 235) ;
  }
  header a{
    text-decoration: none;
  }
  
  footer {
    
  }
  
  /******************************************
  /* PAGES 
  /*******************************************/
  /* INDEX - start page */
  .index{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 25%;
    background-image: url("/imgs/pexels-leon-ardho-1552242.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: rgb(0, 85, 255); */
  }
  .index--features_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 5%;

    color: whitesmoke;
    
  }
  .index--features_list li{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* FEED - start page */
  .feed {
    background: black;
    /* height: 100%; */
  }
  .feed--li{
    /* border:rgb(54, 217, 235) solid 3px; */
    border:rgb(194, 142, 11) solid 3px;
  }


  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
